<div class="header navbars">
  <p class="logo" (click)="goHome()">Countries</p>
</div>
<router-outlet></router-outlet>
<nav class="navbars credits">
  <p>© biefchtekz 2022</p>
  <div class="socials">
    <a href="https://www.instagram.com/biefchtekz_/" class="fa fa-instagram" target="_blank"></a>
    <a href="https://twitter.com/ua_bief" class="fa fa-twitter" target="_blank"></a>
    <a href="https://www.linkedin.com/in/ruslan-sydoruk-7437a4230/" class="fa fa-linkedin" target="_blank"></a>
    <a href="https://github.com/biefchtekz" class="fa fa-github" target="_blank"></a>
  </div>
</nav>

