* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.navbars{
  width: 100%;
  background: #0066cc;
  height: 3rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  p{
    font-family: Garamond;
    color: #ffcc00;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
  }
}
